

<div class= "m-5 p-2">
<h1 id="post-title" class="text-center"><a class="link" href="/post/{{id}}">{{title}}</a></h1>
  <p class="card-body">{{body}}</p>
  <h6 class= "text-center">Written by: {{user.username}}</h6>
  <br>
  <br>
  <br>
  <hr size="10">
</div>