
<main class="container p-0 col-12">
    <h1 class="text-center">Your Posts Dashboard</h1>
    <hr size="20">
    <div class="container text-center"><a href='/new' class="badge bg-primary">CREATE NEW POST</a></div>
    <hr size="10">

      <row class="row col-12 justify-content-center">
        {{reverse post}}
        {{#each post as |post|}}
        {{>post-details post}}
    {{!-- <div class="container text-center"><a href='' id = "delete-link"class="badge bg-danger">DELETE POST</a></div>
            <br> --}}
            <hr size="10">
        {{/each}}

      </row> 
    </main>
