homepage

{{!-- <main>
    {{#each posts as |post|}}
        {{> post}}
    {{/each}}
</main> --}}

{{!-- <p1>Homepage</p1> --}}

    <main class="container p-0 col-12">
      <row class="row col-12 justify-content-center">
{{!-- HOMEPAGE --}}

        {{#each post as |post|}}
        {{>post-details}}
        {{/each}}

      </row> 
    </main>

