<main class="container p-0 col-12">
      <row class="row col-12 justify-content-center">
        {{reverse post}}
        {{#each post as |post|}}
        {{>post-details}}
                <br>
            <hr size="10">
        {{/each}}

            


      </row> 
    </main>

