<main class="container p-0 col-12">
  <div class="mb-3 text-center">
    <form class="new-post-form">
      <div>
        <br />
        <br />
        <br />

        <label for="post-title" class="text-light"
          ><b>NEW POST TITLE:</b></label
        >

        <input
          class="form-control"
          type="text"
          id="post-title"
          name="post-title"
          placeholder="POST TITLE HERE"
        />
      </div>

      <br />

      <div>
        <label for="post-content" class="text-light"
          ><b>NEW POST BODY:</b></label
        >
        <br />
        <textarea
          id="new-post-body"
          class="form-control"
          name="post-body"
          rows="10"
          placeholder="TEXT BODY HERE"
        ></textarea>
      </div>
      <br />

      <button type="submit">Submit Post</button>
      <br />
      <br />
      <br />
      <br />
    </form>
  </div>
</main>

<script src="/js/newpost.js"></script>
